/* File: style.css */
body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.box {
    width: 420px;
    margin: 30px auto;
    padding: 20px;
    border: 5px solid #003366;
    background-color: white;
    text-align: center;
}
